<div class="content" *ngIf="editar==false">
  <div class="container-fluid"  >
    <div class="row" >
      <div class="col-md-12">
          <div class="row col-md-12">
            <div class="col-md-6 text-left"  >
              <a  class="btn  dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Perfil</a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#" (click)="perfilActivo=1">Alumno</a>
                <a class="dropdown-item" href="#"(click)="perfilActivo=2">Profesor</a>
                <a class="dropdown-item" href="#" (click)="perfilActivo=3">Apoderado</a>
              </div>
            </div>
            <div class="col col-md-6 text-right">
                <button type="button" class="btn btn-create">Crear Nuevo</button>
            </div>
          </div>

        
        <div class="card" *ngIf="perfilActivo==1">
          <div class="card-header card-header-primary" >
            <h4 class="card-title" >Alumnos</h4>
            <p class="card-category">Listado alumnos 2019</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary" >
                  <th>Rut</th>
                  <th>Nombes</th>
                  <th>Apellidos</th>
                  <th>Colegio</th>
                  <th>Curso</th>
                  <th>Telefono</th>
                  <th>E-mail</th>
                  <th>Opción</th>
                </thead>
                <tbody>
                  <tr *ngFor="let alumno of alumnos" >
                    <td>{{alumno.rut}}</td>
                    <td>{{alumno.nombres}}</td>
                    <td>{{alumno.apellidos}}</td>
                    <td>{{alumno.colegio}}</td>
                    <td>{{alumno.curso}}</td>
                    <td>{{alumno.telefono}}</td>
                    <td>{{alumno.email}}</td>
                    <td ><button type="button" class="btn btn-outline-info btn-sm" (click)="editarPerfil(alumno)"><span>editar</span></button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="card" *ngIf="perfilActivo==2">
            <div class="card-header card-header-primary" >
              <h4 class="card-title" >Profesores</h4>
              <p class="card-category">Listado profesores 2019</p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary" >
                    <th>Rut</th>
                    <th>Nombes</th>
                    <th>Apellidos</th>
                    <th>Asignatura</th>
                    <th>Telefono</th>
                    <th>E-mail</th>
                    <th>Opción</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let profesor of profesores" >
                      <td>{{profesor.rut}}</td>
                      <td>{{profesor.nombres}}</td>
                      <td>{{profesor.apellidos}}</td>
                      <td>{{profesor.curso}}</td>
                      <td>{{profesor.telefono}}</td>
                      <td>{{profesor.email}}</td>
                      <td ><button type="button" class="btn btn-outline-info btn-sm" (click)="editarPerfil(alumno)"><span>editar</span></button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="card" *ngIf="perfilActivo==3">
              <div class="card-header card-header-primary" >
                <h4 class="card-title" >Apoderados</h4>
                <p class="card-category">Listado Apoderados 2019</p>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary" >
                      <th>Rut</th>
                      <th>Nombes</th>
                      <th>Apellidos</th>
                      <th>Telefono</th>
                      <th>E-mail</th>
                      <th>Pupilo</th>
                      <th>Opción</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let apoderado of apoderados" >
                        <td>{{apoderado.rut}}</td>
                        <td>{{apoderado.nombres}}</td>
                        <td>{{apoderado.apellidos}}</td>
                        <td>{{apoderado.curso}}</td>
                        <td>{{apoderado.telefono}}</td>
                        <td>{{apoderado.email}}</td>
                        <td>{{apoderado.email}}</td>
                        <td ><button type="button" class="btn btn-outline-info btn-sm" (click)="editarPerfil(alumno)"><span>editar</span></button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            
      </div>
    </div>
  </div>
</div>

<app-perfil-usuario *ngIf="editar==true" [editar]="editar" [alumnoEditar]="alumnoEditar" (guardar)="ActualizarLista($event)"></app-perfil-usuario>