<div class="row">  
  <div class="col-xl-12 row">
    <div class="col-xl-10">
      <div class="" id="alerts">
        <h1 class="element-title">Resumen de Puntajes</h1>
      </div>
    </div>
    <div class="col-xl-12">
      <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
      </canvas>
      <br>
      <br>
    </div>
    <br>
    <div class="col-xl-10">
      <div class="" id="alerts">
        <h1 class="element-title">Resumen de Asistencia</h1>
      </div>
      
    </div>
    <div class="col-xl-12">
      <canvas baseChart
        [datasets]="radarChartData"
        [labels]="radarChartLabels"
        [chartType]="radarChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
      </canvas>
    </div>
  </div>
</div>

<hr>
<!--PERFILES EXISTENTES-->
<div class="row">
  <div class="col-xl-10">
    <div class="" id="alerts">
      <h1 class="element-title">Celendario Academico</h1>
    </div>
  </div>
  
  <div class="col-xl-12">


    <div class="row">

      <div class="col-md-4">
				<div class="media media-events-list bg-success">
          <div class="media-body">
            <br>
            <h3 class="media-heading mb-4">
              <a class="text-white text-capitalize d-block text-truncate" href="event-single-left-sidebar.html">Ensayo Biologia (10 Julio)</a>
            </h3>

            <ul class="list-unstyled mb-2">
              <li class="text-white">
                <i class="fa fa-clock-o mr-2" aria-hidden="true"></i>9.00AM-11.00AM
              </li>
            </ul>

            <p class="text-white mb-5">
              Profesor: Profesor de Biologia
            </p>

            <div class="mb-1">
            </div>            
          </div>
        </div>
      </div>

      <div class="col-md-4">
				<div class="media media-events-list bg-danger">
          <div class="media-body">
            <br>
            <h3 class="media-heading mb-4">
              <a class="text-white text-capitalize d-block text-truncate" href="event-single-left-sidebar.html">Ensayo Lenguaje (10 Julio)</a>
            </h3>
            <ul class="list-unstyled mb-2">
              <li class="text-white">
                <i class="fa fa-clock-o mr-2" aria-hidden="true"></i>9.00AM-11.00AM
              </li>
            </ul>

            <p class="text-white mb-5">
              Profesor: Sergio Soto
            </p>
            <div class="mb-1">
            </div>            
          </div>
        </div>
      </div>

      <div class="col-md-4">
				<div class="media media-events-list bg-info">
          <div class="media-body">
            <br>
            <h3 class="media-heading mb-4">
              <a class="text-white text-capitalize d-block text-truncate" href="event-single-left-sidebar.html">Ensayo Matematicas (10 Julio)</a>
            </h3>

            <ul class="list-unstyled mb-2">
              <li class="text-white">
                <i class="fa fa-clock-o mr-2" aria-hidden="true"></i>9.00AM-11.00AM
              </li>
            </ul>

            <p class="text-white mb-5">
              Profesor: Juan Pablo Gonzalez</p>
            <div class="mb-1">
            </div>            
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<script src="node_modules/chart.js/src/chart.js"></script>