<footer class="footer-bg-img">
  <!-- Footer Color Bar -->
  <div class="color-bar">
    <div class="container-fluid">
      <div class="row">
        <div class="col color-bar bg-warning"></div>
        <div class="col color-bar bg-danger"></div>
        <div class="col color-bar bg-success"></div>
        <div class="col color-bar bg-info"></div>
        <div class="col color-bar bg-purple"></div>
        <div class="col color-bar bg-pink"></div>
        <div class="col color-bar bg-warning d-none d-md-block"></div>
        <div class="col color-bar bg-danger d-none d-md-block"></div>
        <div class="col color-bar bg-success d-none d-md-block"></div>
        <div class="col color-bar bg-info d-none d-md-block"></div>
        <div class="col color-bar bg-purple d-none d-md-block"></div>
        <div class="col color-bar bg-pink d-none d-md-block"></div>
      </div>
    </div>
  </div>

  <div class="pt-8 pb-7  bg-repeat" style="background-image: url(assets/img/background/footer-bg-img-1.png);">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-4 col-xs-12">
          <a class="mb-6 d-block" href="index.html">
            <img class="img-fluid d-inline-block w-50 lazyestload" data-src="assets/img/preu.jpg" src="assets/img/vrlogo.png">
          </a>
          <p class="mb-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>

        <div class="col-sm-6 col-lg-4 col-xs-12">
          <h4 class="section-title-sm font-weight-bold text-white mb-6">Links de interes</h4>
          <ul class="list-unstyled">
            <li class="mb-4">
              <a href="">
                <i class="fa fa-angle-double-right mr-2" aria-hidden="true"></i>Link 1 de interes
              </a>
            </li>
            <li class="mb-4">
              <a href="">
                <i class="fa fa-angle-double-right mr-2" aria-hidden="true"></i>Link 1 de interes
              </a>
            </li>
            <li class="mb-4">
              <a href="">
                <i class="fa fa-angle-double-right mr-2" aria-hidden="true"></i>Link 1 de interes
              </a>
            </li>
          </ul>
        </div>

        <div class="col-sm-6 col-lg-4 col-xs-12">
          <h4 class="section-title-sm font-weight-bold text-white mb-6">Lista de Correos</h4>
          <p class="mb-4">Regístrate en nuestra lista de correo para recibir las últimas actualizaciones y ofertas.</p>
          <form class="mb-4" action="">
            <div class="input-group shadow-light rounded-sm input-addon">
              <input type="text" class="form-control py-4" placeholder="Dirección de correo" aria-describedby="basic-addon21">
              <div class="input-group-append ">
                <div class="input-group-text bg-danger">
                  <i class="fa fa-check text-white" aria-hidden="true"></i></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Copy Right -->
  <div class="copyright">
    <div class="container">
      <div class="row py-4 align-items-center">
        <div class="col-sm-7 col-xs-12 order-1 order-md-0">
          <p class="copyright-text"> © 2019 Copyright by <a href="#" target="_blank">Juan Pablo González Opazo.</a></p>
        </div>


      </div>
    </div>
  </div>
</footer>
