<section class="py-7 py-md-10" id="nosotros">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12 order-md-1">
        <div class="image mb-4 mb-md-0">
          <img class="img-fluid rounded" src="assets/img/features/features-img1.jpg" alt="features-img1.jpg">
        </div>
      </div>

      <div class="col-sm-6 col-xs-12">
        <div class="">
          <div class="section-title mb-4">
            <h2 class="text-danger pl-0">Bienvenidos al mejor Preu</h2>
          </div>
          <p class="text-dark font-size-15 mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nos trud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <p class="text-danger font-size-15 mb-4">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

          <ul class="list-unstyled mb-5">
            <li class="d-flex align-items-baseline text-muted mb-2">
              <i class="fa fa-check mr-2" aria-hidden="true"></i>
              Vestibulum iaculis quam ac libero volutpat placerat.
            </li>
            <li class="d-flex align-items-baseline text-muted mb-2">
              <i class="fa fa-check mr-2" aria-hidden="true"></i>
              Phasellus sit amet risus fringilla, aliquet lacus vel, suscipit lorem.
            </li>
            <li class="d-flex align-items-baseline text-muted mb-2">
              <i class="fa fa-check mr-2" aria-hidden="true"></i>
              Etiam suscipit velit et tellus bibendum interdum.
            </li>
            <li class="d-flex align-items-baseline text-muted mb-2">
              <i class="fa fa-check mr-2" aria-hidden="true"></i>
              Vestibulum iaculis quam ac libero volutpat placerat.
            </li>
            <li class="d-flex align-items-baseline text-muted mb-2">
              <i class="fa fa-check mr-2" aria-hidden="true"></i>
              Etiam suscipit velit et tellus bibendum interdum.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-9 bg-parallax" style="background-image: url(assets/img/background/background-img-2.jpg);">
	<div class="container">
    <div class="wow fadeInUp">
      <div class="section-title justify-content-center">
        <h2 class="text-white text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry</h2>
      </div>
    </div>
	</div>
</section>