<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true,
                    backdropBackgroundColour: 'rgba(0, 0, 0, 1)', backdropBorderRadius: '10px',
                    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff' }">
  </ngx-loading>
</div>
<app-header-profesor></app-header-profesor>
<main>
  <section class="section ">
    <div class="container">
      <h2 class="display-3">{{prueba.nombre}}</h2>
      <hr>
      <div class="row row-grid align-items-center">

        <div class="col-xl-12">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="preguntas-tab" data-toggle="tab" href="#preguntas_observacion" role="tab"
                aria-controls="preguntas" aria-selected="false">Rendimiento Preguntas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " id="rendimiento-tab" data-toggle="tab" href="#rendimiento_observacion" role="tab"
                aria-controls="rendimiento" aria-selected="false">Rendimiento Tópicos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="asistencia-tab" data-toggle="tab" href="#asistencia_observacion" role="tab"
                aria-controls="asistencia" aria-selected="true">Rendimiento Curso</a>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="preguntas_observacion" role="tabpanel"
              aria-labelledby="preguntas-tab">
              <div class="mb-8 ">
                <br>
                <div>
                  <h5>Rendimiento por pregunta de evaluación</h5>
                  <div>
                    <div>
                      <div *ngIf="!loadGraficoRendimientoPreguntas" style="display: block">
                        <canvas baseChart [datasets]="barChartDataPreguntas" [labels]="barChartLabelsPreguntas"
                          [options]="barChartOptionsPreguntas" [plugins]="barChartPluginsPreguntas"
                          [legend]="barChartLegendPreguntas" [chartType]="barChartTypePreguntas">
                        </canvas>
                      </div>
                      <div *ngIf="loadGraficoRendimientoPreguntas" class="col-lg-12 row">
                        <div
                          style="width: 100%;min-height:200px; border: 1px solid #ffffff;background-color: rgb(255, 255, 255);text-align: center"
                          class="jumbotron">
                          <h2 class="text-muted"><i class="fa fa-spinner fa-spin"></i> Cargando </h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade show" id="rendimiento_observacion" role="tabpanel"
              aria-labelledby="rendimiento-tab">
              <div class="mb-8 ">
                <br>
                <div>
                  <h5>Rendimiento por tópicos</h5>
                  <div>
                    <div>
                      <div *ngIf="!loadGraficoRendimientoTopicos" style="display: block">
                        <canvas baseChart [datasets]="barChartDataTopicos" [labels]="barChartLabelsTopicos"
                          [options]="barChartOptionsTopicos" [plugins]="barChartPluginsTopicos"
                          [legend]="barChartLegendTopicos" [chartType]="barChartTypeTopicos">
                        </canvas>
                      </div>
                      <div *ngIf="loadGraficoRendimientoTopicos" class="col-lg-12 row">
                        <div
                          style="width: 100%;min-height:200px; border: 1px solid #ffffff;background-color: rgb(255, 255, 255);text-align: center"
                          class="jumbotron">
                          <h2 class="text-muted"><i class="fa fa-spinner fa-spin"></i> Cargando </h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade show" id="asistencia_observacion" role="tabpanel"
              aria-labelledby="asistencia-tab">
              <div class="mb-8 ">
                <br>
                <div>
                  <h5>Rendimiento por cursos</h5>
                  <div>
                    <div>
                      <div *ngIf="!loadGraficoRendimientoCursos" style="display: block">
                        <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels"
                          [chartType]="doughnutChartType">
                        </canvas>
                      </div>
                      <div *ngIf="loadGraficoRendimientoCursos" class="col-lg-12 row">
                        <div
                          style="width: 100%;min-height:200px; border: 1px solid #ffffff;background-color: rgb(255, 255, 255);text-align: center"
                          class="jumbotron">
                          <h2 class="text-muted"><i class="fa fa-spinner fa-spin"></i> Cargando </h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
      <hr>
      <div class="row row-grid align-items-center">
        <div class="col-xl-12">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="topicos-tab" data-toggle="tab" href="#topicos_existente" role="tab"
                aria-controls="topicos" aria-selected="false">Topicos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pregunta-tab" data-toggle="tab" href="#pregunta_existente" role="tab"
                aria-controls="pregunta" aria-selected="false">Preguntas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="evaluaciones-tab" data-toggle="tab" href="#evaluaciones_existente" role="tab"
                aria-controls="evaluaciones" aria-selected="false">Evaluaciones Realizadas</a>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade show" id="pregunta_existente" role="tabpanel"
              aria-labelledby="pregunta-tab">
              <div class="mb-8 ">
                <br>
                <div class="table-responsive-lg">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">Pregunta</th>
                        <th scope="col" *ngIf="prueba.tipo != 'TAREA'">Alternativa Correcta</th>
                        <th scope="col">Topico</th>
                        <th scope="col">Acción</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="loadPrueba">
                        <td colspan="10" class="shine text-center">
                          <h3 class="text-muted"><i class="fa fa-spinner fa-spin"></i> Cargando </h3>
                        </td>
                      </tr>
                      <tr *ngIf="!loadPrueba && preguntas_tabla.length == 0">
                        <td colspan="10" class="text-center">
                          No se registran preguntas
                        </td>
                      </tr>
                      <tr *ngFor="let pregunta of preguntas_tabla">
                        <td>
                          <div class="row">
                            <button data-toggle="tooltip" data-placement="top" title="Subir posición" type="button"
                              class="btn btn-success btn-sm"
                              [disabled]="pregunta.numero_pregunta == 1 || banderaPosicionarPregunta"
                              (click)="subirPosicionPregunta(pregunta.numero_pregunta)"><i
                                class="fas fa-chevron-up"></i></button>
                            <button data-toggle="tooltip" data-placement="top" title="Bajar posición" type="button"
                              class="btn btn-success btn-sm"
                              [disabled]="pregunta.numero_pregunta == prueba.preguntas.length || banderaPosicionarPregunta"
                              (click)="bajarPosicionPregunta(pregunta.numero_pregunta)"><i
                                class="fas fa-chevron-down"></i></button>
                          </div>
                        </td>
                        <td>{{ pregunta.numero_pregunta }}</td>
                        <td *ngIf="prueba.tipo != 'TAREA'">{{ pregunta.alternativa }}</td>
                        <td>{{ pregunta.topico.nombre }}</td>
                        <td>
                          <div class="row">
                            <!--                             <button data-toggle="tooltip" data-placement="top" title="Editar pregunta" type="button"
                              class="btn btn-default btn-sm" (click)="editarPregunta(pregunta.numero_pregunta)"><i
                                class="fas fa-pencil-alt"></i></button> -->
                            <button [disabled]="banderaEliminarPregunta" data-toggle="tooltip" data-placement="top"
                              title="Eliminar pregunta" type="button" class="btn btn-danger btn-sm"
                              (click)="eliminarPregunta(pregunta.numero_pregunta)"><i
                                class="fas fa-trash-alt"></i></button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="collectionSizePreguntas" [(page)]="pagePreguntas"
                      [pageSize]="pageSizePreguntas">
                    </ngb-pagination>

                    <select class="custom-select" style="width: auto" [(ngModel)]="pageSizePreguntas">
                      <option [ngValue]="10">10 preguntas por página</option>
                      <option [ngValue]="20">20 preguntas por página</option>
                      <option [ngValue]="30">30 preguntas por página</option>
                    </select>
                  </div>
                </div>
                <div class="text-center">
                  <button [disabled]="banderaAgregarPregunta" type="button" class="btn btn-outline-primary"
                    (click)="agregarPregunta()">Nueva Pregunta</button>
                </div>
              </div>
            </div>

            <div class="tab-pane fade show active" id="topicos_existente" role="tabpanel" aria-labelledby="topicos-tab">
              <div class="mb-8 ">
                <br>
                <div class="table-responsive-lg">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Acción</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="loadPrueba">
                        <td colspan="10" class="shine text-center">
                          <h3 class="text-muted"><i class="fa fa-spinner fa-spin"></i> Cargando </h3>
                        </td>
                      </tr>
                      <tr *ngIf="!loadPrueba && topicos_tabla.length == 0">
                        <td colspan="10" class="text-center">
                          No se registran tópicos
                        </td>
                      </tr>
                      <tr *ngFor="let topico of topicos_tabla">
                        <td>{{ topico.nombre }}</td>
                        <td>
                          <button type="button" class="btn btn-danger btn-sm" (click)="deleteTopicoPrueba(topico.id)"><i
                              class="fas fa-trash-alt"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="collectionSizeTopico" [(page)]="pageTopico"
                      [pageSize]="pageSizeTopico">
                    </ngb-pagination>

                    <select class="custom-select" style="width: auto" [(ngModel)]="pageSizeTopico">
                      <option [ngValue]="10">10 topicos por página</option>
                      <option [ngValue]="20">20 topicos por página</option>
                      <option [ngValue]="30">30 topicos por página</option>
                    </select>
                  </div>
                </div>
                <div class="text-center">
                  <button type="button" class="btn btn-outline-primary" (click)="asignarTopico()">Agregar
                    Tópico</button>
                </div>

              </div>
            </div>

            <div class="tab-pane fade show" id="evaluaciones_existente" role="tabpanel"
              aria-labelledby="evaluaciones-tab">
              <div class="mb-8 ">
                <br>
                <div class="table-responsive-lg">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Alumno</th>
                        <th scope="col">Curso</th>
                        <th scope="col">Correctas</th>
                        <th scope="col">Incorrectas</th>
                        <th scope="col">Omitidas</th>
                        <th scope="col">Puntaje</th>
                        <th scope="col">Acción</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="loadEvaluacionesRealizadas">
                        <td colspan="10" class="shine text-center">
                          <h3 class="text-muted"><i class="fa fa-spinner fa-spin"></i> Cargando </h3>
                        </td>
                      </tr>
                      <tr *ngIf="!loadEvaluacionesRealizadas && evaluaciones_realizadas_tabla.length == 0">
                        <td colspan="10" class="text-center">
                          No se registran evaluaciones realizadas
                        </td>
                      </tr>
                      <tr *ngFor="let evaluacion of evaluaciones_realizadas_tabla">
                        <td>{{ evaluacion.alumno.nombres }} {{ evaluacion.alumno.apellido_paterno }}
                          {{ evaluacion.alumno.apellido_materno }}</td>
                        <td>{{ evaluacion.alumno.curso.nombre }}</td>
                        <td>
                          <span class="badge badge-pill badge-success">{{ evaluacion.cantidad_buenas }}</span>
                        </td>
                        <td>
                          <span class="badge badge-pill badge-danger">{{ evaluacion.cantidad_malas }}</span>
                        </td>
                        <td>
                          <span class="badge badge-pill badge-warning">{{ evaluacion.cantidad_omitidas }}</span>
                        </td>
                        <td>
                          {{evaluacion.puntaje}}
                        </td>
                        <td>
                          <div class="row">
                            <button *ngIf="prueba.tipo != 'TAREA'" type="button" class="btn btn-info btn-sm"
                              (click)="verAlternativas(evaluacion.respuestas, evaluacion.alumno)"><i
                                class="far fa-eye"></i></button>
                            <button type="button" class="btn btn-default btn-sm"
                              (click)="editarEvaluacion(evaluacion.id)">
                              <i class="fas fa-edit"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm"
                              (click)="deleteEvaluacion(evaluacion.id)">
                              <i class="fas fa-trash-alt"></i>
                            </button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="collectionSizeEvaluacionesRealizadas"
                      [(page)]="pageEvaluacionesRealizadas" [pageSize]="pageSizeEvaluacionesRealizadas">
                    </ngb-pagination>

                    <select class="custom-select" style="width: auto" [(ngModel)]="pageSizeEvaluacionesRealizadas">
                      <option [ngValue]="10">10 evaluaciones por página</option>
                      <option [ngValue]="20">20 evaluaciones por página</option>
                      <option [ngValue]="30">30 evaluaciones por página</option>
                    </select>
                  </div>
                </div>

                <div class="text-center">
                  <button type="button" class="btn btn-outline-primary" (click)="registrarEvaluaciones()">Registrar
                    Evaluaciones</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <hr>
      <div class="text-center">
        <button type="button" class="btn btn-outline-danger" (click)="volver()"> Volver
        </button>
        <br>
      </div>
    </div>
  </section>
</main>
<app-footer-profesor></app-footer-profesor>
