<section class="pt-9 pb-7" id="blog">
  <div class="container">
    <div class="section-title justify-content-center mb-4 mb-md-8 wow fadeInUp">
      <span class="shape shape-left bg-info"></span>
      <h2 class="text-danger">Actividades Oficina de la Juventud</h2>
      <span class="shape shape-right bg-info"></span>
    </div>

    <div class="row wow fadeInUp">
      <div class="col-md-4">
        <div class="card">
          <div class="position-relative">
            <a href="blog-single-left-sidebar.html">
              <img class="card-img-top lazyestload" data-src="assets/img/blog/blog-img1.jpg" src="assets/img/blog/blog-img1.jpg" alt="Card image">
            </a>
          </div>

          <div class="card-body border-top-5 px-3 border-warning">
            <h3 class="card-title">
              <a class="text-warning text-capitalize d-block text-truncate" href="blog-single-left-sidebar.html">Curso 1</a>
            </h3>
            <ul class="list-unstyled d-flex flex-md-column flex-lg-row">
              <li class="mr-2">
                <a class="text-muted" href="blog-single-left-sidebar.html">
                  <i class="fa fa-user mr-2" aria-hidden="true"></i>Todo público
                </a>
              </li>
            </ul>
            <p class="mb-2"> Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classi cal Latin literature.</p>
            <a class="btn btn-link text-hover-warning pl-0" href="blog-single-left-sidebar.html">
              <i class="fa fa-angle-double-right mr-1" aria-hidden="true"></i> Revisar
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="position-relative">
            <a href="blog-single-left-sidebar.html">
              <img class="card-img-top lazyestload" data-src="assets/img/blog/blog-img2.jpg" src="assets/img/blog/blog-img2.jpg" alt="Card image">
            </a>
          </div>

          <div class="card-body border-top-5 px-3 border-success">
            <h3 class="card-title">
              <a class="text-success text-capitalize d-block text-truncate" href="blog-single-left-sidebar.html">Curso 2</a>
            </h3>
            <ul class="list-unstyled d-flex flex-md-column flex-lg-row">
              <li class="mr-2">
                <a class="text-muted" href="blog-single-left-sidebar.html">
                  <i class="fa fa-user mr-2" aria-hidden="true"></i>Todo público
                </a>
              </li>
            </ul>
            <p class="mb-2"> Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classi cal Latin literature.</p>
            <a class="btn btn-link text-hover-success pl-0" href="blog-single-left-sidebar.html">
              <i class="fa fa-angle-double-right mr-1" aria-hidden="true"></i> Revisar
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="position-relative">
            <a href="blog-single-left-sidebar.html">
              <img class="card-img-top lazyestload" data-src="assets/img/blog/blog-img3.jpg" src="assets/img/blog/blog-img3.jpg" alt="Card image">
            </a>
          </div>

          <div class="card-body border-top-5 px-3 border-danger">
            <h3 class="card-title">
              <a class="text-danger text-capitalize d-block text-truncate" href="blog-single-left-sidebar.html">Curso 3</a>
            </h3>
            <ul class="list-unstyled d-flex flex-md-column flex-lg-row">
              <li class="mr-2">
                <a class="text-muted" href="blog-single-left-sidebar.html">
                  <i class="fa fa-user mr-2" aria-hidden="true"></i>Todo público
                </a>
              </li>
            </ul>
            <p class="mb-2"> Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classi cal Latin literature.</p>
            <a class="btn btn-link text-hover-danger pl-0" href="blog-single-left-sidebar.html">
              <i class="fa fa-angle-double-right mr-1" aria-hidden="true"></i> Revisar
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="btn-aria text-center mt-4 wow fadeInUp">
      <a href="blog-grid.html" class="btn btn-danger text-uppercase">Ver todas</a>
    </div>
  </div>
</section>
