<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true,
                  backdropBackgroundColour: 'rgba(0, 0, 0, 1)', backdropBorderRadius: '10px',
                  primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff' }">
  </ngx-loading>
</div>
<app-header-profesor></app-header-profesor>
<main>
  <section class="section ">
    <div class="container">
     <mat-card-content class="mat-card-content"> 
      <mat-card-title>{{asignatura.nombre}}</mat-card-title>
      <br>
    </mat-card-content>
    <br>
      <div class="row row-grid align-items-center">

        <div class="col-xl-12">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="rendimiento-tab" data-toggle="tab" href="#rendimiento_observacion"
                role="tab" aria-controls="rendimiento" aria-selected="false">Rendimiento</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="asistencia-tab" data-toggle="tab" href="#asistencia_observacion" role="tab"
                aria-controls="asistencia" aria-selected="true">Asistencia</a>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="rendimiento_observacion" role="tabpanel"
              aria-labelledby="rendimiento-tab">
              <div class="mb-8 ">
                <br>
                <div>
                  <h5>Promedio de puntaje por tipo de evaluación</h5>
                  <div>
                    <div *ngIf="!loadGraficoRendimientoEvaluacionesAsignatura" style="display: block">
                      <canvas [colors]="colors" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                        [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                      </canvas>
                    </div>
                    <div *ngIf="loadGraficoRendimientoEvaluacionesAsignatura" class="col-lg-12 row">
                      <div
                        style="width: 100%;min-height:200px; border: 1px solid #ffffff;background-color: rgb(255, 255, 255);text-align: center"
                        class="jumbotron">
                        <h2 class="text-muted"><i class="fa fa-spinner fa-spin"></i> Cargando </h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade show" id="asistencia_observacion" role="tabpanel"
              aria-labelledby="asistencia-tab">
              <div class="mb-8 ">
                <br>
                <div>
                  <h5>Porcentaje de asistencia en cursos</h5>
                  <div>
                    <div *ngIf="!loadGraficoAsistenciaAsignatura" style="display: block">
                      <canvas baseChart [colors]="colors" [datasets]="barChartDataAsistencia" [labels]="barChartLabelsAsistencia"
                        [options]="barChartOptionsAsistencia" [plugins]="barChartPluginsAsistencia"
                        [legend]="barChartLegendAsistencia" [chartType]="barChartTypeAsistencia">
                      </canvas>
                    </div>
                    <div *ngIf="loadGraficoAsistenciaAsignatura" class="col-lg-12 row">
                      <div
                        style="width: 100%;min-height:200px; border: 1px solid #ffffff;background-color: rgb(255, 255, 255);text-align: center"
                        class="jumbotron">
                        <h2 class="text-muted"><i class="fa fa-spinner fa-spin"></i> Cargando </h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
      <hr>
      <div class="row row-grid align-items-center">
        <div class="col-xl-12">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="profesores-tab" data-toggle="tab" href="#profesores_existente" role="tab"
                aria-controls="profesores" aria-selected="false">Profesores</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="asistencia-tab" data-toggle="tab" href="#asistencia_existente" role="tab"
                aria-controls="asistencia" aria-selected="false">Asistencia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="evaluaciones-tab" data-toggle="tab" href="#evaluaciones_existente" role="tab"
                aria-controls="evaluaciones" aria-selected="false">Evaluaciones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="alertas-tab" data-toggle="tab" href="#alertas_existente" role="tab"
                aria-controls="alertas" aria-selected="false">Alertas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="topicos-tab" data-toggle="tab" href="#topicos_existente" role="tab"
                aria-controls="topicos" aria-selected="false">Topicos</a>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="profesores_existente" role="tabpanel"
              aria-labelledby="profesores-tab">
              <div class="mb-8 ">
                <br>
                <div class="table-responsive-lg">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">RUT</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido paterno</th>
                        <th scope="col">Apellido materno</th>
                        <th scope="col">Email</th>
                        <th scope="col">Teléfono</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="loadProfesoresAsignatura">
                        <td colspan="10" class="shine text-center">
                          <h3 class="text-muted"><i class="fa fa-spinner fa-spin"></i> Cargando </h3>
                        </td>
                      </tr>
                      <tr *ngIf="!loadProfesoresAsignatura && profesores_tabla.length == 0">
                        <td colspan="10" class="text-center">
                          No se registran profesores
                        </td>
                      </tr>
                      <tr *ngFor="let profesor of profesores_tabla">
                        <th scope="row">
                          <img [src]='profesor.imagen' class="mr-2" style="width: 50px">
                        </th>
                        <td>{{ profesor.rut | rut }}</td>
                        <td>{{ profesor.nombres }}</td>
                        <td>{{ profesor.apellido_paterno }}</td>
                        <td>{{ profesor.apellido_materno }}</td>
                        <td>{{ profesor.email }}</td>
                        <td>{{ profesor.telefono }}</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="collectionSizeProfesor" [(page)]="pageProfesor"
                      [pageSize]="pageSizeProfesor">
                    </ngb-pagination>

                    <select class="custom-select" style="width: auto" [(ngModel)]="pageSizeProfesor">
                      <option [ngValue]="5">5 profesores por página</option>
                      <option [ngValue]="10">10 profesores por página</option>
                      <option [ngValue]="15">15 profesores por página</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade show" id="asistencia_existente" role="tabpanel" aria-labelledby="asistencia-tab">
              <div class="mb-8 ">
                <br>
                <div class="table-responsive-lg">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Curso</th>
                        <th scope="col">Alumnos Presentes</th>
                        <th scope="col">Alumnos Ausentes</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="loadAsistenciasAsignatura">
                        <td colspan="10" class="shine text-center">
                          <h3 class="text-muted"><i class="fa fa-spinner fa-spin"></i> Cargando </h3>
                        </td>
                      </tr>
                      <tr *ngIf="!loadAsistenciasAsignatura && asistencias_tabla.length == 0">
                        <td colspan="10" class="text-center">
                          No se registran asistencias
                        </td>
                      </tr>
                      <tr *ngFor="let asistencia of asistencias_tabla">
                        <td>{{ asistencia.fecha }}</td>
                        <td>{{ asistencia.curso }}</td>
                        <td>{{ asistencia.alumnos_presentes }}</td>
                        <td>{{ asistencia.alumnos_ausentes }}</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="collectionSizeAsistencia" [(page)]="pageAsistencia"
                      [pageSize]="pageSizeAsistencia">
                    </ngb-pagination>

                    <select class="custom-select" style="width: auto" [(ngModel)]="pageSizeAsistencia">
                      <option [ngValue]="10">10 asistencias por página</option>
                      <option [ngValue]="20">20 asistencias por página</option>
                      <option [ngValue]="30">30 asistencias por página</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>


            <div class="tab-pane fade show" id="evaluaciones_existente" role="tabpanel"
              aria-labelledby="evaluaciones-tab">
              <div class="mb-8 ">
                <br>
                <div class="table-responsive-lg">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Preguntas</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Puntaje Base</th>
                        <th scope="col">Acción</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="loadPruebasAsignatura">
                        <td colspan="10" class="shine text-center">
                          <h3 class="text-muted"><i class="fa fa-spinner fa-spin"></i> Cargando </h3>
                        </td>
                      </tr>
                      <tr *ngIf="!loadPruebasAsignatura && evaluaciones_tabla.length == 0">
                        <td colspan="10" class="text-center">
                          No se registran evaluaciones
                        </td>
                      </tr>
                      <tr *ngFor="let evaluacion of evaluaciones_tabla">
                        <td>{{ evaluacion.nombre }}</td>
                        <td>{{ evaluacion.cantidad_preguntas }}</td>
                        <td>
                          <span *ngIf="evaluacion.tipo == 'ENSAYO'"
                            class="badge badge-pill badge-danger">{{ evaluacion.tipo }}</span>
                          <span *ngIf="evaluacion.tipo == 'TALLER'"
                            class="badge badge-pill badge-primary">{{ evaluacion.tipo }}</span>
                          <span *ngIf="evaluacion.tipo == 'TAREA'"
                            class="badge badge-pill badge-success">{{ evaluacion.tipo }}</span>
                        </td>
                        <td>{{ evaluacion.puntaje_base }}</td>
                        <td>
                          <div class="row">
                            <button type="button" class="btn btn-info btn-sm"
                              (click)="verDetalleEvaluacion(evaluacion.id)"><i class="far fa-eye"></i></button>
                              <button type="button" class="btn btn-secondary btn-sm"
                              (click)="updateVisible(evaluacion.id, evaluacion.visible)">
                              <i *ngIf="evaluacion.visible" class="fas fa-lock-open"></i>
                              <i *ngIf="!evaluacion.visible" class="fas fa-lock"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm"
                              (click)="deleteEvaluacion(evaluacion.id)"><i class="fas fa-trash-alt"></i></button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="collectionSizeEvaluacion" [(page)]="pageEvaluacion"
                      [pageSize]="pageSizeEvaluacion">
                    </ngb-pagination>

                    <select class="custom-select" style="width: auto" [(ngModel)]="pageSizeEvaluacion">
                      <option [ngValue]="10">10 evaluaciones por página</option>
                      <option [ngValue]="20">20 evaluaciones por página</option>
                      <option [ngValue]="30">30 evaluaciones por página</option>
                    </select>
                  </div>
                </div>
                <div class="text-center">
                  <button type="button" class="btn btn-primary" (click)="nuevaEvaluacion()">Nueva
                    Evaluación</button>
                  <br>
                </div>
              </div>
            </div>

            <div class="tab-pane fade show" id="alertas_existente" role="tabpanel" aria-labelledby="alertas-tab">
              <div class="mb-8 ">
                <br>
                <div class="table-responsive-lg">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Alumno</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Contenido</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="loadAlertasAsignatura">
                        <td colspan="10" class="shine text-center">
                          <h3 class="text-muted"><i class="fa fa-spinner fa-spin"></i> Cargando </h3>
                        </td>
                      </tr>
                      <tr *ngIf="!loadAlertasAsignatura && alertas_tabla.length == 0">
                        <td colspan="10" class="text-center">
                          No se registran alertas
                        </td>
                      </tr>
                      <tr *ngFor="let alerta of alertas_tabla">
                        <th scope="row">
                          <img [src]='alerta.alumno.imagen' class="mr-2" style="width: 50px">
                        </th>
                        <td>{{ alerta.alumno.nombres }} {{ alerta.alumno.apellido_paterno }}
                          {{ alerta.alumno.apellido_materno }}</td>
                        <td>{{ alerta.fecha }}</td>
                        <td>
                          <span *ngIf="alerta.tipo == 'RENDIMIENTO'"
                            class="badge badge-pill badge-danger">{{ alerta.tipo }}</span>
                          <span *ngIf="alerta.tipo == 'ASISTENCIA'"
                            class="badge badge-pill badge-warning">{{ alerta.tipo }}</span>
                        </td>
                        <td>{{ alerta.data }}</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="collectionSizeAlerta" [(page)]="pageAlerta"
                      [pageSize]="pageSizeAlerta">
                    </ngb-pagination>

                    <select class="custom-select" style="width: auto" [(ngModel)]="pageSizeAlerta">
                      <option [ngValue]="10">10 alertas por página</option>
                      <option [ngValue]="20">20 alertas por página</option>
                      <option [ngValue]="30">30 alertas por página</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade show" id="topicos_existente" role="tabpanel" aria-labelledby="topicos-tab">
              <div class="mb-8 ">
                <br>
                <div class="table-responsive-lg">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Acción</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="loadTopicosAsignatura">
                        <td colspan="10" class="shine text-center">
                          <h3 class="text-muted"><i class="fa fa-spinner fa-spin"></i> Cargando </h3>
                        </td>
                      </tr>
                      <tr *ngIf="!loadTopicosAsignatura && topicos_tabla.length == 0">
                        <td colspan="10" class="text-center">
                          No se registran alertas
                        </td>
                      </tr>
                      <tr *ngFor="let topico of topicos_tabla">
                        <td>{{ topico.nombre }}</td>
                        <td>
                          <button type="button" class="btn btn-danger btn-sm" (click)="deleteTopico(topico.id)"><i
                              class="fas fa-trash-alt"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="collectionSizeTopico" [(page)]="pageTopico"
                      [pageSize]="pageSizeTopico">
                    </ngb-pagination>

                    <select class="custom-select" style="width: auto" [(ngModel)]="pageSizeTopico">
                      <option [ngValue]="10">10 topicos por página</option>
                      <option [ngValue]="20">20 topicos por página</option>
                      <option [ngValue]="30">30 topicos por página</option>
                    </select>
                  </div>
                </div>
                <div class="text-center">
                  <button type="button" class="btn btn-primary" (click)="nuevoTopico()">
                    Nuevo Tópico</button>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer-profesor></app-footer-profesor>
