<app-header></app-header>
<main>
  <section class="section section-lg">
    <div class="container">

      <h3 class="display-3">Alertas Preuniversitario</h3>
      <hr>


      <div class="row row-grid align-items-center">

          <div class="col-xl-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="rendimiento-tab" data-toggle="tab" href="#rendimiento_observacion"
                  role="tab" aria-controls="rendimiento" aria-selected="false">Alertas</a>
              </li>
            </ul>
  
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="rendimiento_observacion" role="tabpanel"
                aria-labelledby="rendimiento-tab">
                <div class="mb-8 ">
                  <br>
                  <div>
                    <h5>Cantidad de alertas por curso</h5>
                    <div>
                        <div>
                          <div style="display: block">
                            <canvas baseChart
                              [datasets]="radarChartData"
                              [options]="radarChartOptions"
                              [labels]="radarChartLabels"
                              [chartType]="radarChartType">
                            </canvas>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <hr>
        </div>
      <div class="row row-grid align-items-center">
        <div class="col-xl-12">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="alerta-tab" data-toggle="tab" href="#alerta_existente" role="tab"
                aria-controls="alerta" aria-selected="false">Alertas</a>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="alerta_existente" role="tabpanel" aria-labelledby="alerta-tab">
              <div class="mb-8 ">
                <br>
                <div class="table-responsive-lg">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Alumno</th>
                        <th scope="col">Curso</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Asignatura</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Contenido</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let alerta of alertas_tabla">
                        <td>{{ alerta.alumno.nombres }} {{ alerta.alumno.apellido_paterno }} {{ alerta.alumno.apellido_materno }}</td>
                        <td>{{ alerta.alumno.curso.nombre }}</td>
                        <td>{{ alerta.fecha }}</td>
                        <td>{{ alerta.asignatura.nombre }}</td>
                        <td>
                          <span *ngIf="alerta.tipo == 'RENDIMIENTO'"
                            class="badge badge-pill badge-danger">{{ alerta.tipo }}</span>
                          <span *ngIf="alerta.tipo == 'ASISTENCIA'"
                            class="badge badge-pill badge-warning">{{ alerta.tipo }}</span>
                        </td>
                        <td>{{alerta.data}}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="collectionSizeAlerta" [(page)]="pageAlerta"
                      [pageSize]="pageSizeAlerta">
                    </ngb-pagination>

                    <select class="custom-select" style="width: auto" [(ngModel)]="pageSizeAlerta">
                      <option [ngValue]="10">10 alertas por página</option>
                      <option [ngValue]="20">20 alertas por página</option>
                      <option [ngValue]="30">30 alertas por página</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</main>
<app-footer></app-footer>