<app-header></app-header>
<main>
  <section class="section section-lg">
    <div class="container">

      <h3 class="display-3">Alertas Preuniversitario</h3>
      <hr>


      <div class="row row-grid align-items-center">

        <div class="col-xl-12">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="rendimiento-tab" data-toggle="tab" href="#rendimiento_observacion"
                role="tab" aria-controls="rendimiento" aria-selected="false">Alertas</a>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="rendimiento_observacion" role="tabpanel"
              aria-labelledby="rendimiento-tab">
              <div class="mb-8 ">
                <br>
                <div>
                  <h5>Cantidad de alertas por curso</h5>
                  <div>
                    <div>
                      <div style="display: block">
                        <canvas baseChart [datasets]="radarChartData" [options]="radarChartOptions"
                          [labels]="radarChartLabels" [chartType]="radarChartType">
                        </canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <hr>
      </div>
      <div class="row row-grid align-items-center">
        <div class="col-xl-12">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="alerta-tab" data-toggle="tab" href="#alerta_existente" role="tab"
                aria-controls="alerta" aria-selected="false">Alertas</a>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="alerta_existente" role="tabpanel" aria-labelledby="alerta-tab">
              <div class="mb-8 ">
                <br>
                <form>
                  <div class="row col-md-12">
                    <div class="form-group form-inline col-md-9">
                      <input class="form-control ml-2" type="text" name="searchTerm"
                        [(ngModel)]="_alertaTablaService.searchTerm" placeholder="Buscar..." />
                      <span class="ml-3" *ngIf="_alertaTablaService.loading$ | async">Cargando...</span>
                    </div>
                  </div>
                  <div class="table-responsive-lg">
                    <table class="table table-striped">
                      <thead>
                        <tr class="bg-info text-white">
                          <th scope="col"></th>
                          <th scope="col" sortable="alumno" (sort)="onSort($event)">
                            <a [routerLink]="" class="text-white">
                              <div class="row">
                                Alumno
                                <i *ngIf="filtroSort[0]=='asc'" class="fas fa-long-arrow-alt-up"></i>
                                <i *ngIf="filtroSort[0]=='desc'" class="fas fa-long-arrow-alt-down"></i>
                              </div>
                            </a>
                          </th>
                          <th scope="col" sortable="curso" (sort)="onSort($event)">
                              <a [routerLink]="" class="text-white">
                                  <div class="row">
                                    Curso
                                    <i *ngIf="filtroSort[1]=='asc'" class="fas fa-long-arrow-alt-up"></i>
                                    <i *ngIf="filtroSort[1]=='desc'" class="fas fa-long-arrow-alt-down"></i>
                                  </div>
                                </a>
                          </th>
                          <th scope="col" sortable="fecha" (sort)="onSort($event)">
                            <a [routerLink]="" class="text-white">
                              <div class="row">
                                Fecha
                                <i *ngIf="filtroSort[2]=='asc'" class="fas fa-long-arrow-alt-up"></i>
                                <i *ngIf="filtroSort[2]=='desc'" class="fas fa-long-arrow-alt-down"></i>
                              </div>
                            </a>
                          </th>
                          <th scope="col" sortable="asignatura" (sort)="onSort($event)">
                            <a [routerLink]="" class="text-white">
                              <div class="row">
                                Asignatura
                                <i *ngIf="filtroSort[3]=='asc'" class="fas fa-long-arrow-alt-up"></i>
                                <i *ngIf="filtroSort[3]=='desc'" class="fas fa-long-arrow-alt-down"></i>
                              </div>
                            </a>
                          </th>
                          <th scope="col" sortable="tipo" (sort)="onSort($event)">
                            <a [routerLink]="" class="text-white">
                              <div class="row">
                                Tipo
                                <i *ngIf="filtroSort[4]=='asc'" class="fas fa-long-arrow-alt-up"></i>
                                <i *ngIf="filtroSort[4]=='desc'" class="fas fa-long-arrow-alt-down"></i>
                              </div>
                            </a>
                          </th>
                          <th scope="col">Contenido</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let alerta of alertas$ | async">
                          <td scope="row">
                            <img [src]='alerta.alumno.imagen' class="mr-2" style="width: 50px">
                          </td>
                          <td scope="row">
                            <ngb-highlight [result]="alerta.alumno.nombres" [term]="_alertaTablaService.searchTerm">
                            </ngb-highlight>
                          </td>
                          <td scope="row">
                            <ngb-highlight [result]="alerta.alumno.curso.nombre"
                              [term]="_alertaTablaService.searchTerm">
                            </ngb-highlight>
                          </td>
                          <td scope="row">
                            <ngb-highlight [result]="alerta.fecha" [term]="_alertaTablaService.searchTerm">
                            </ngb-highlight>
                          </td>
                          <td scope="row">
                            <ngb-highlight [result]="alerta.asignatura.nombre" [term]="_alertaTablaService.searchTerm">
                            </ngb-highlight>

                          </td>
                          <td scope="row">
                            <ngb-highlight [result]="alerta.tipo" [term]="_alertaTablaService.searchTerm">
                            </ngb-highlight>
                          </td>
                          <td scope="row">
                            <ngb-highlight [result]="alerta.data" [term]="_alertaTablaService.searchTerm">
                            </ngb-highlight>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="d-flex justify-content-between p-2">
                      <ngb-pagination [collectionSize]="total$ | async" [(page)]="_alertaTablaService.page"
                        [pageSize]="_alertaTablaService.pageSize">
                      </ngb-pagination>

                      <select class="custom-select" style="width: auto" name="pageSize"
                        [(ngModel)]="_alertaTablaService.pageSize">
                        <option [ngValue]="10">10 items per page</option>
                        <option [ngValue]="20">20 items per page</option>
                        <option [ngValue]="30">30 items per page</option>
                      </select>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>








</main>
<app-footer></app-footer>
