<!--SEGUNDO PEGAR HTML-->
<app-header-alumno></app-header-alumno>
<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-4 order-lg-2">
              <div class="card-profile-image">
                <a>
                  <img [src]='hoja_vida.imagen' class="rounded-circle">
                </a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
              <div class="card-profile-actions py-4 mt-lg-0">
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">{{hoja_vida.ponderacion_asistencia}} %</span>
                  <span class="description">Asistencia</span>
                </div>
                <div>
                  <span class="heading">{{hoja_vida.ponderacion_matematicas}} </span>
                  <span class="description">Matemáticas</span>
                </div>
                <div>
                  <span class="heading">{{hoja_vida.ponderacion_lenguaje}} </span>
                  <span class="description">Lenguaje</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-5">
            <h3>{{hoja_vida.nombres}} {{hoja_vida.apellido_paterno}} {{hoja_vida.apellido_materno}}</h3>
            <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>{{hoja_vida.curso}}</div>
            <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>{{hoja_vida.email}} -
              {{hoja_vida.telefono}}</div>
            <div><i class="ni education_hat mr-2"></i>{{hoja_vida.calegio}}</div>
            <div><i class="ni education_hat mr-2"></i>{{hoja_vida.direccion}}</div>
          </div>

          <div class="mt-5 py-5 border-top text-center">
            <h4 class="display-3 pull-rigth">Rendimiento y Asistencia</h4>
            <div class="row justify-content-center">
              <div class="col-xl-12">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="rendimiento-tab" data-toggle="tab" href="#rendimiento_observacion"
                      role="tab" aria-controls="rendimiento" aria-selected="false">Rendimiento</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="asistencia-tab" data-toggle="tab" href="#asistencia_observacion" role="tab"
                      aria-controls="asistencia" aria-selected="true">Asistencia</a>
                  </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="rendimiento_observacion" role="tabpanel"
                    aria-labelledby="rendimiento-tab">
                    <div class="mb-8 ">
                      <br>
                      <div>
                        <div>
                          <div style="display: block">
                            <canvas baseChart [datasets]="radarChartData" [options]="radarChartOptions"
                              [labels]="radarChartLabels" [chartType]="radarChartType">
                            </canvas>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="tab-pane fade show" id="asistencia_observacion" role="tabpanel"
                    aria-labelledby="asistencia-tab">
                    <div class="mb-8 ">
                      <br>
                      <div>
                        <h5>Asistencia Anual</h5>
                        <div>
                          <div style="display: block">
                            <canvas baseChart [datasets]="barChartDataAnual" [labels]="barChartLabelsAnual"
                              [options]="barChartOptionsAnual" [plugins]="barChartPluginsAnual" [legend]="barChartLegendAnual"
                              [chartType]="barChartTypeAnual">
                            </canvas>
                          </div>
                        </div>
                      </div>
                      <br>
                      <div>
                        <h5>Asistencia Asignaturas</h5>
                        <div>
                          <div style="display: block">
                            <canvas baseChart [datasets]="barChartDataAsignatura" [labels]="barChartLabelsAsignatura"
                              [options]="barChartOptionsAsignatura" [plugins]="barChartPluginsAsignatura" [legend]="barChartLegendAsignatura"
                              [chartType]="barChartTypeAsignatura">
                            </canvas>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="mt-5 py-5 border-top text-center">
            <h4 class="display-3 pull-rigth">Justificaciones y Alertas</h4>
            <div class="row justify-content-center">
              <div class="col-xl-12">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="justificacion-tab" data-toggle="tab"
                      href="#justificacion_observacion" role="tab" aria-controls="justificacion"
                      aria-selected="false">Justificaciones</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="alerta-tab" data-toggle="tab" href="#alerta_observacion" role="tab"
                      aria-controls="alerta" aria-selected="false">Alertas</a>
                  </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="justificacion_observacion" role="tabpanel"
                    aria-labelledby="justificacion-tab">
                    <div class="mb-8 ">
                      <br>
                      <div class="table-responsive-lg">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th scope="col">Asistencia</th>
                              <th scope="col">Asignatura</th>
                              <th scope="col">Fecha</th>
                              <th scope="col">Causa</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let justificacion of justificaciones_tabla">
                              <td>{{justificacion.asistencia.fecha}}</td>
                              <td>{{justificacion.asistencia.asignatura.nombre}}</td>
                              <td>{{justificacion.fecha}}</td>
                              <td>{{justificacion.causa}}</td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="d-flex justify-content-between p-2">
                          <ngb-pagination [collectionSize]="collectionSizeJustificacion" [(page)]="pageJustificacion"
                            [pageSize]="pageSizeJustificacion">
                          </ngb-pagination>

                          <select class="custom-select" style="width: auto" [(ngModel)]="pageSizeJustificacion">
                            <option [ngValue]="4">4 observaciones por página</option>
                            <option [ngValue]="8">8 observaciones por página</option>
                            <option [ngValue]="10">10 observaciones por página</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="tab-pane fade show" id="alerta_observacion" role="tabpanel"
                    aria-labelledby="justificacion-tab">
                    <div class="mb-8 ">
                      <br>
                      <div class="table-responsive-lg">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th scope="col">Fecha</th>
                              <th scope="col">Tipo</th>
                              <th scope="col">Contenido</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let alerta of alertas_tabla">
                              <td>{{alerta.fecha}}</td>
                              <td>
                                <span *ngIf="alerta.tipo == 'RENDIMIENTO'"
                                  class="badge badge-pill badge-danger">{{ alerta.tipo }}</span>
                                <span *ngIf="alerta.tipo == 'ASISTENCIA'"
                                  class="badge badge-pill badge-warning">{{ alerta.tipo }}</span>
                              </td>
                              <td>{{alerta.data}}</td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="d-flex justify-content-between p-2">
                          <ngb-pagination [collectionSize]="collectionSizeAlerta" [(page)]="pageAlerta"
                            [pageSize]="pageSizeAlerta">
                          </ngb-pagination>

                          <select class="custom-select" style="width: auto" [(ngModel)]="pageSizeAlerta">
                            <option [ngValue]="4">4 alertas por página</option>
                            <option [ngValue]="8">8 alertas por página</option>
                            <option [ngValue]="10">10 alertas por página</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>





        </div>
      </div>
    </div>
  </section>
</main>
<app-footer-alumno></app-footer-alumno>
