<!-- ====================================
——— PRELOADER
===================================== -->
<div id="preloader" class="smooth-loader-wrapper">
  <div class="smooth-loader">
    <div class="loader">
      <span class="dot dot-1"></span>
      <span class="dot dot-2"></span>
      <span class="dot dot-3"></span>
      <span class="dot dot-4"></span>
    </div>
  </div>
</div>
  
<!-- ====================================
  ——— HEADER
===================================== -->
<header class="header" id="pageTop">
  <div class=" bg-stone d-none d-md-block top-bar">
    <div class="container">
      <div class="row">

        <div class="col-lg-7 d-none d-lg-block">
          <ul class="list-inline d-flex justify-content-xl-start align-items-center h-100 mb-0">
            <li>
              <span class="bg-warning icon-header mr-xl-2">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </span>
              <a class="mr-lg-4 mr-xl-6 text-white opacity-80">contacto@preu.cl</a>
            </li>
            <li>
              <span class="bg-success icon-header mr-xl-2">
                <i class="fa fa-phone" aria-hidden="true"></i>
              </span>
              <a href="tel:+1 234 567 8900" class="mr-lg-4 mr-xl-6 text-white opacity-80"> +56 9 98765432  </a>
            </li>
            <li class="text-white">
              <span class="bg-pink icon-header">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
              </span>
              <span class="opacity-80"> lunes a viernes de 9am - 6pm</span>
            </li>
          </ul>
        </div>

        <div class="col-lg-5">
          <ul class="list-inline d-flex mb-0 justify-content-xl-end justify-content-md-center align-items-center mr-xl-2">


            <li class="text-white mr-3 mr-lg-2 mr-xl-5">
              <span class="bg-purple icon-header mr-2 mr-lg-1 mr-xl-2">
                <i class="fa fa-user text-white font-size-13" aria-hidden="true"></i>
              </span>
              <a class="text-white font-weight-medium opacity-80" href="javascript:void(0)" data-toggle="modal"
                data-target="#modal-login">
                Login
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>


  <!-- Navbar -->
  <nav class="navbar navbar-expand-md navbar-scrollUp navbar-sticky navbar-white">
    <div class="container">
      <a class="navbar-brand" href="">
        <img class="d-inline-block" src="assets/img/preu.jpg" alt="Kidz School">
      </a>
      <button class="navbar-toggler py-2" type="button" data-toggle="collapse" data-target="#navbarContent"
        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>
<!--       <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ml-lg-auto">
          <li class="nav-item dropdown bg-warning">
            <a class="nav-link dropdown-toggle  active " href="#" 
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-home nav-icon" aria-hidden="true"></i>
              <span>Home</span>
            </a>
          </li>

          <li class="nav-item dropdown bg-danger">
            <a class="nav-link dropdown-toggle active" href="" role="button"
              data-toggle="dropdown">
              <i class="fa fa-list-ul nav-icon" aria-hidden="true"></i>
              <span>Nosotros</span>
            </a>
          </li>

          <li class="nav-item dropdown mega-dropdown bg-success">
            <a class="nav-link dropdown-toggle active" href="#" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-book nav-icon" aria-hidden="true"></i>
              <span>Actividades</span>
            </a>
          </li>
        </ul>
      </div> -->

    </div>
  </nav>
</header>
<app-login></app-login>
<app-slider></app-slider>
<app-nosotros></app-nosotros>
<app-servicios></app-servicios>
<app-cursos-pagina-principal></app-cursos-pagina-principal> 
<!--scrolling-->
<div class="scrolling">
  <a href="#pageTop" class="back-to-top" id="back-to-top" style="opacity: 1;">
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
  </a>
</div>
<app-footer></app-footer>