<!-- Modal Login -->
<div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="bg-primary rounded-top p-2">
        <h3 class="text-white font-weight-bold mb-0 ml-2">Login</h3>
      </div>

      <div class="border rounded-bottom-md border-top-0">
        <div class="p-3">
          <form [formGroup]="formGroupLogin">
            <div class="form-group form-group-icon">
              <input type="text" name="nombre_usuario" formControlName="nombre_usuario" class="form-control border" placeholder="Nombre usuario" required="">
            </div>

            <div class="form-group form-group-icon">
              <input type="password" name="password" formControlName="password" class="form-control border" placeholder="Contraseña" required="">
            </div>

            <div class="form-group">
              <button (click)="logearse()" class="btn btn-danger text-uppercase w-100">Log In</button>
            </div>

            <div class="form-group text-center text-secondary mb-0">
              <a class="text-danger" href="">Olvidaste tu contraseña?</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
