<app-header></app-header>
<main>
  <section class="section">
    <div class="container">
      <mat-card-content class="mat-card-content">
        <mat-card-title>Eventos preuniversitario</mat-card-title><br>
      </mat-card-content>
      <br>
      <div class="row row-grid align-items-center">
        <div class="col-xl-12">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="evento-tab" data-toggle="tab" href="#evento_existente" role="tab"
                aria-controls="evento" aria-selected="false">Eventos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="solicitud-tab" data-toggle="tab" href="#solicitud_existente" role="tab"
                aria-controls="solicitud" aria-selected="false">Solicitudes</a>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="evento_existente" role="tabpanel" aria-labelledby="evento-tab">
              <div class="mb-8 ">
                <br>
                <div class="table-responsive-lg">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Evento</th>
                        <th scope="col">Curso</th>
                        <th scope="col">Acción</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="load">
                        <td colspan="10" class="shine text-center">
                          <h3 class="text-muted"><i class="fa fa-spinner fa-spin"></i> Cargando </h3>
                        </td>
                      </tr>
                      <tr *ngIf="!load && eventos_tabla.length == 0">
                        <td colspan="10" class="text-center">
                          No se registran eventos
                        </td>
                      </tr>
                      <tr *ngFor="let evento of eventos_tabla">
                        <td>{{ evento.start }}</td>
                        <td>{{ evento.title }}</td>
                        <td>
                          <div *ngFor="let curso of evento.cursos">{{ curso }}<br></div>
                        </td>
                        <td>
                          <div class="row">
                            <button type="button" class="btn btn-danger btn-sm" (click)="deleteEvento(evento.id)"><i
                                class="fas fa-trash-alt"></i></button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="collectionSizeEvento" [(page)]="pageEvento"
                      [pageSize]="pageSizeEvento">
                    </ngb-pagination>

                    <select class="custom-select" style="width: auto" [(ngModel)]="pageSizeEvento">
                      <option [ngValue]="10">10 eventos por página</option>
                      <option [ngValue]="20">20 eventos por página</option>
                      <option [ngValue]="30">30 eventos por página</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade show" id="solicitud_existente" role="tabpanel" aria-labelledby="solicitud-tab">
              <div class="mb-8 ">
                <br>
                <div class="table-responsive-lg">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Evento</th>
                        <th scope="col">Curso</th>
                        <th scope="col">Acción</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="load">
                        <td colspan="10" class="shine text-center">
                          <h3 class="text-muted"><i class="fa fa-spinner fa-spin"></i> Cargando </h3>
                        </td>
                      </tr>
                      <tr *ngIf="!load && solicitudes_tabla.length == 0">
                        <td colspan="10" class="text-center">
                          No se registran solicitudes a eventos
                        </td>
                      </tr>
                      <tr *ngFor="let evento of solicitudes_tabla">
                        <td>{{ evento.start }}</td>
                        <td>{{ evento.title }}</td>
                        <td>
                          <b *ngFor="let curso of evento.cursos">{{ curso }}<br></b>
                        </td>
                        <td>
                          <div class="row">
                            <button type="button" class="btn btn-success btn-sm" (click)="aceptarEvento(evento.id)">
                                <i class="fas fa-calendar-check"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm" (click)="deleteEvento(evento.id)"><i
                                class="fas fa-trash-alt"></i></button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="collectionSizeSolicitud" [(page)]="pageSolicitud"
                      [pageSize]="pageSizeSolicitud">
                    </ngb-pagination>

                    <select class="custom-select" style="width: auto" [(ngModel)]="pageSizeSolicitud">
                      <option [ngValue]="10">10 solicitudes por página</option>
                      <option [ngValue]="20">20 eventos por página</option>
                      <option [ngValue]="30">30 eventos por página</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</main>
<app-footer></app-footer>
