<app-header></app-header>
<main>
  <section class="section ">
    <div class="container">
      <mat-card-content>
        <mat-card-title>Perfiles de usuarios</mat-card-title>
      </mat-card-content>
      <div class="row row-grid align-items-center">
        <div class="col-xl-12">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="estudiante-tab" data-toggle="tab" href="#estudiante_existente" role="tab"
                aria-controls="estudiante" aria-selected="false">Alumno</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profesor-tab" data-toggle="tab" href="#profesor_existente" role="tab"
                aria-controls="profesor" aria-selected="true">Profesores</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="apoderado-tab" data-toggle="tab" href="#apoderado_existente" role="tab"
                aria-controls="apoderado" aria-selected="true">Apoderados</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="administrador-tab" data-toggle="tab" href="#administrador_existente" role="tab"
                aria-controls="administrador" aria-selected="true">Administradores</a>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <!--ESTUDIANTE EXISTENTE TAB-->
            <div class="tab-pane fade show active" id="estudiante_existente" role="tabpanel"
              aria-labelledby="estudiante-tab">
              <div class="mb-8 ">
                <br>
                <div class="row">
                  <div class="col-md-3 col-sm-12">
                    <button type="button" class="btn btn-secondary" (click)="generarNuevoAlumno()">Nuevo
                      Alumno</button>

                  </div>
                  <div class="col-md-3 col-sm-12"></div>
                  <div class="text-right col-md-6 col-sm-12">
                    <button type="button" class="btn btn-primary" (click)="generarNuevoAlumno()">Importar excel</button>
                    <button type="button" class="btn btn-success" (click)="generarNuevoAlumno()">Plantilla alumnos <i
                        class="fas fa-file-excel"></i></button>
                    <br>
                  </div>
                </div>

                <br>
                <div class="table-responsive-lg">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">R.U.N</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Apellido paterno</th>
                        <th scope="col">Apellido materno</th>
                        <th scope="col">Curso</th>
                        <th scope="col">Acción</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="loadalumno">
                        <td colspan="10" class="shine text-center">
                          <h3 class="text-muted"><i class="fa fa-spinner fa-spin"></i> Cargando </h3>
                        </td>
                      </tr>
                      <tr *ngIf="!loadalumno && alumnos_tabla.length == 0">
                        <td colspan="10" class="text-center">
                          No se registran alumnos
                        </td>
                      </tr>
                      <tr *ngFor="let alumno of alumnos_tabla">
                        <th scope="row">
                          <img [src]='alumno.imagen' class="mr-2" style="width: 50px">
                        </th>
                        <td>{{ alumno.rut | rut}}</td>
                        <td>{{ alumno.nombres}}</td>
                        <td>{{ alumno.apellido_paterno}}</td>
                        <td>{{ alumno.apellido_materno}}</td>
                        <td>{{ alumno.curso.nombre }}</td>
                        <td>
                          <div class="row">
                            <button type="button" class="btn btn-info btn-sm"
                              (click)="generarVistaHojaVida(alumno.id)"><i class="far fa-eye"></i></button>
                              <button type="button" class="btn btn-secondary btn-sm" (click)="editarAlumno(alumno.id)"><i class="fas fa-user-edit"></i></button>
                            <button type="button" class="btn btn-danger btn-sm" (click)="deleteAlumno(alumno.id)"><i
                                class="fas fa-trash-alt"></i></button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="collectionSizeAlumno" [(page)]="pageAlumno"
                      [pageSize]="pageSizeAlumno">
                    </ngb-pagination>

                    <select class="custom-select" style="width: auto" [(ngModel)]="pageSizeAlumno">
                      <option [ngValue]="10">10 alumnos por página</option>
                      <option [ngValue]="20">20 alumnos por página</option>
                      <option [ngValue]="30">30 alumnos por página</option>
                    </select>
                  </div>
                  <div class="text-center">

                    <br>
                  </div>
                </div>
              </div>
            </div>

            <!--PROFESOR EXISTENTE TAB-->
            <div class="tab-pane fade show" id="profesor_existente" role="tabpanel" aria-labelledby="profesor-tab">
              <div class="mb-8">
                <br>
                <div class="row">
                  <div class="col-md-3 col-sm-12">
                    <button type="button" class="btn btn-secondary" (click)="generarNuevoProfesor()">Nuevo
                      Profesor</button>

                  </div>
   
                </div>
                <br>
                <div class="table-responsive-lg">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">R.U.N</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Apellido paterno</th>
                        <th scope="col">Apellido materno</th>
                        <th scope="col">Asignatura</th>
                        <th scope="col">Acción</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="loadprofesor">
                        <td colspan="10" class="shine text-center">
                          <h3 class="text-muted"><i class="fa fa-spinner fa-spin"></i> Cargando </h3>
                        </td>
                      </tr>
                      <tr *ngIf="!loadprofesor && profesores_tabla.length == 0">
                        <td colspan="10" class="text-center">
                          No se registran profesores
                        </td>
                      </tr>
                      <tr *ngFor="let profesor of profesores_tabla">
                        <th scope="row">
                          <img [src]='profesor.imagen' class="mr-2" style="width: 50px">
                        </th>
                        <td>{{ profesor.rut | rut}}</td>
                        <td>{{ profesor.nombres}}</td>
                        <td>{{ profesor.apellido_paterno}}</td>
                        <td>{{ profesor.apellido_materno}}</td>
                        <td>{{ profesor.asignatura.nombre }}</td>
                        <td>
                          <button type="button" class="btn btn-info btn-sm" (click)="verDetalleProfesor(profesor.id)"><i
                              class="far fa-eye"></i></button>
                          <button type="button" class="btn btn-secondary btn-sm" (click)="editarProfesor(profesor.id)"><i class="fas fa-user-edit"></i></button>
                          <button type="button" class="btn btn-danger btn-sm" (click)="deleteProfesor(profesor.id)"><i
                              class="fas fa-trash-alt"></i></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="collectionSizeProfesor" [(page)]="pageProfesor"
                      [pageSize]="pageSizeProfesor">
                    </ngb-pagination>

                    <select class="custom-select" style="width: auto" [(ngModel)]="pageSizeProfesor">
                      <option [ngValue]="10">10 profesores por página</option>
                      <option [ngValue]="20">20 profesores por página</option>
                      <option [ngValue]="30">30 profesores por página</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <!--APODERADO EXISTENTE TAB-->
            <div class="tab-pane fade show" id="apoderado_existente" role="tabpanel" aria-labelledby="apoderado-tab">
              <div class="mb-8">
                <br>
                <div class="row">
                  <div class="col-md-3 col-sm-12">
                    <button type="button" class="btn btn-secondary" (click)="generarNuevoApoderado()">Nuevo
                      Apoderado</button>

                  </div>
                  <div class="col-md-3 col-sm-12"></div>
                  <div class="text-right col-md-6 col-sm-12">
                    <button type="button" class="btn btn-primary" (click)="generarNuevoApoderado()">Importar
                      excel</button>
                    <button type="button" class="btn btn-success" (click)="generarNuevoApoderado()">Plantilla apoderados
                      <i class="fas fa-file-excel"></i></button>
                    <br>
                  </div>
                </div>
                <br>
                <div class="table-responsive-lg">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">R.U.N</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Apellido paterno</th>
                        <th scope="col">Apellido materno</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Alumno</th>
                        <th scope="col">Acción</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="loadapoderado">
                        <td colspan="10" class="shine text-center">
                          <h3 class="text-muted"><i class="fa fa-spinner fa-spin"></i> Cargando </h3>
                        </td>
                      </tr>
                      <tr *ngIf="!loadapoderado && apoderados.length == 0">
                        <td colspan="10" class="text-center">
                          No se registran apoderados
                        </td>
                      </tr>
                      <tr *ngFor="let apoderado of apoderados">
                        <th scope="row">
                          <img [src]='apoderado.imagen' class="mr-2" style="width: 50px">
                        </th>
                        <td>{{ apoderado.rut | rut}}</td>
                        <td>{{ apoderado.nombres}}</td>
                        <td>{{ apoderado.apellido_paterno}}</td>
                        <td>{{ apoderado.apellido_materno}}</td>
                        <td>{{ apoderado.telefono }}</td>
                        <td>{{ apoderado.alumno.nombres }} {{ apoderado.alumno.apellido_paterno}}</td>
                        <td>
                          <button type="button" class="btn btn-danger btn-sm" (click)="deleteApoderado(apoderado.id)"><i
                              class="fas fa-trash-alt"></i></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="collectionSizeApoderado" [(page)]="pageApoderado"
                      [pageSize]="pageSizeApoderado">
                    </ngb-pagination>

                    <select class="custom-select" style="width: auto" [(ngModel)]="pageSizeApoderado">
                      <option [ngValue]="10">10 apoderados por página</option>
                      <option [ngValue]="20">20 apoderados por página</option>
                      <option [ngValue]="30">30 apoderados por página</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <!--ADMINISTRADOR EXISTENTE TAB-->
            <div class="tab-pane fade show" id="administrador_existente" role="tabpanel"
              aria-labelledby="administrador-tab">
              <div class="mb-8">
                <br>
                <div class="row">
                  <div class="col-md-3 col-sm-12">
                    <button type="button" class="btn btn-secondary" (click)="generarNuevoAdministrador()">Nuevo
                      Administrador</button>

                  </div>
   
                </div>
                <br>
                <div class="table-responsive-lg">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">R.U.N</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Apellido paterno</th>
                        <th scope="col">Apellido materno</th>
                        <th scope="col">email</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="loadadministrador">
                        <td colspan="10" class="shine text-center">
                          <h3 class="text-muted"><i class="fa fa-spinner fa-spin"></i> Cargando </h3>
                        </td>
                      </tr>
                      <tr *ngIf="!loadadministrador && administradores_tabla.length == 0">
                        <td colspan="10" class="text-center">
                          No se registran adminstradores
                        </td>
                      </tr>
                      <tr *ngFor="let administrador of administradores_tabla">
                        <th scope="row">
                          <img [src]='administrador.imagen' class="mr-2" style="width: 50px">
                        </th>
                        <td>{{ administrador.rut | rut}}</td>
                        <td>{{ administrador.nombres}}</td>
                        <td>{{ administrador.apellido_paterno}}</td>
                        <td>{{ administrador.apellido_materno}}</td>
                        <td>{{ administrador.email }}</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="collectionSizeAdministrador" [(page)]="pageAdministrador"
                      [pageSize]="pageSizeAdministrador">
                    </ngb-pagination>

                    <select class="custom-select" style="width: auto" [(ngModel)]="pageSizeAdministrador">
                      <option [ngValue]="5">5 administradores por página</option>
                      <option [ngValue]="10">10 administradores por página</option>
                      <option [ngValue]="20">20 administradores por página</option>
                      <option [ngValue]="30">30 administradores por página</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
