<app-header></app-header>
<main>
  <section class="section ">
    <div class="container">
      <mat-card-title>Asistencia preuniversitario</mat-card-title>
      <div class="row row-grid align-items-center">
        <div class="col-xl-12">

          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="asistencia-tab" data-toggle="tab" [attr.href]="'#asistencia'" role="tab"
                aria-controls="asistencia" aria-selected="false">Asistencia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="justificacion-tab" data-toggle="tab" [attr.href]="'#justificacion'" role="tab"
                aria-controls="justificacion" aria-selected="false"> Justificaciones
              </a>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="asistencia" role="tabpanel" aria-labelledby="asistencia-tab">
              <div class="mb-8 ">
                <br>
                <div class="table-responsive-lg">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Curso</th>
                        <th scope="col">Asignatura</th>
                        <th scope="col">Presentes</th>
                        <th scope="col">Ausentes</th>
                        <th scope="col">Acción</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="loadAsistencia">
                        <td colspan="10" class="shine text-center">
                          <h3 class="text-muted"><i class="fa fa-spinner fa-spin"></i> Cargando </h3>
                        </td>
                      </tr>
                      <tr *ngIf="!loadAsistencia && asistencias_tabla.length == 0">
                        <td colspan="10" class="text-center">
                          No se registran asistencias
                        </td>
                      </tr>
                      <tr *ngFor="let asistencia of asistencias_tabla">
                        <td>{{ asistencia.fecha }}</td>
                        <td>{{ asistencia.curso }}</td>
                        <td>{{ asistencia.asignatura }}</td>
                        <td>{{ asistencia.alumnos_presentes }}</td>
                        <td>{{ asistencia.alumnos_ausentes }}</td>
                        <td>
                          <button type="button" class="btn btn-info btn-sm"
                            (click)="detalleAsistencia(asistencia.id)"><i class="fas fa-eye"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-between p-2">

                    <ngb-pagination [collectionSize]="collectionSizeAsistencia" [(page)]="pageAsistencia"
                      [pageSize]="pageSizeAsistencia">
                    </ngb-pagination>

                    <select class="custom-select" style="width: auto" [(ngModel)]="pageSizeAsistencia">
                      <option [ngValue]="10">10 asistencias por página</option>
                      <option [ngValue]="20">20 asistencias por página</option>
                      <option [ngValue]="30">30 asistencias por página</option>
                    </select>

                  </div>
                  <div class="text-center">
                    <button type="button" class="btn btn-info" (click)="generarNuevaAsistencia()"> Nueva
                      Asistencia
                    </button>
                    <br>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade show" id="justificacion" role="tabpanel" aria-labelledby="justificacion-tab">
              <div class="mb-8 ">
                <br>
                <div class="table-responsive-lg">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Alumno</th>
                        <th scope="col">Curso</th>
                        <th scope="col">Asignatura</th>
                        <th scope="col">Asistencia</th>
                        <th scope="col">Causa</th>
                        <th scope="col">Acción</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="loadJustificaciones">
                        <td colspan="10" class="shine text-center">
                          <h3 class="text-muted"><i class="fa fa-spinner fa-spin"></i> Cargando </h3>
                        </td>
                      </tr>
                      <tr *ngIf="!loadJustificaciones && justificaciones_tabla.length == 0">
                        <td colspan="10" class="text-center">
                          No se registran justificaciones
                        </td>
                      </tr>
                      <tr *ngFor="let justificacion of justificaciones_tabla">
                        <td>{{ justificacion.fecha }}</td>
                        <td>{{ justificacion.alumno.nombres }} {{ justificacion.alumno.apellido_paterno }}
                          {{ justificacion.alumno.apellido_materno }}</td>
                        <td>{{ justificacion.alumno.curso.nombre }}</td>
                        <td>{{ justificacion.asistencia.asignatura }}</td>
                        <td>{{ justificacion.asistencia.fecha }}</td>
                        <td>{{ justificacion.causa }}</td>
                        <td>
                          <button type="button" class="btn btn-danger btn-sm"
                            (click)="deleteJustificacion(justificacion.id)">
                            <i class="fas fa-trash-alt">

                            </i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-between p-2">

                    <ngb-pagination [collectionSize]="collectionSizeJustificacion" [(page)]="pageJustificacion"
                      [pageSize]="pageSizeJustificacion">
                    </ngb-pagination>

                    <select class="custom-select" style="width: auto" [(ngModel)]="pageSizeJustificacion">
                      <option [ngValue]="10">10 justificaciones por página</option>
                      <option [ngValue]="20">20 justificaciones por página</option>
                      <option [ngValue]="30">30 justificaciones por página</option>
                    </select>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
