<div class="my-container">
  <ngx-loading [show]="contador!=2" [config]="{ fullScreenBackdrop: true,
                    backdropBackgroundColour: 'rgba(0, 0, 0, 1)', backdropBorderRadius: '10px',
                    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff' }">
  </ngx-loading>
</div>
<app-header></app-header>
<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-4 order-lg-2">
              <div class="card-profile-image">
                <a>
                  <img [src]='profesor.imagen' class="rounded-circle">
                </a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
              <div class="card-profile-actions py-4 mt-lg-0">
                <a class="mr-4"></a>
                <a class="btn btn-sm btn-default float-right" [routerLink]="">Editar</a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading"></span>
                  <span class="description"></span>
                </div>
                <div>
                  <span class="heading"></span>
                  <span class="description"></span>
                </div>
                <div>
                  <span class="heading"></span>
                  <span class="description"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-5">
            <br>
            <h3>{{profesor.nombres}} {{profesor.apellido_paterno}} {{profesor.apellido_materno}}</h3>
            <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>{{asignatura.nombre}}</div>
            <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>{{profesor.email}} -
              {{profesor.telefono}}</div>
          </div>

          <div class="mt-5 py-5 border-top text-center">
            <h4 class="display-3 pull-rigth">Observaciones</h4>
            <div class="row justify-content-center">
              <div class="col-xl-12">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="justificacion-tab" data-toggle="tab"
                      href="#justificacion_observacion" role="tab" aria-controls="justificacion"
                      aria-selected="false">Observaciones</a>
                  </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="justificacion_observacion" role="tabpanel"
                    aria-labelledby="justificacion-tab">
                    <div class="mb-8 ">
                      <br>
                      <div class="table-responsive-lg">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th scope="col">Fecha</th>
                              <th scope="col">Alumno</th>
                              <th scope="col">R.U.N</th>
                              <th scope="col">Titulo</th>
                              <th scope="col">Contenido</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let anotacion of anotaciones_tabla">
                              <td>{{anotacion.fecha}}</td>
                              <td>{{anotacion.alumno.nombres}} {{anotacion.alumno.apellido_paterno}}
                                {{anotacion.alumno.apellido_materno}}</td>
                              <td>{{anotacion.alumno.rut}}</td>
                              <td>{{anotacion.titulo}}</td>
                              <td>{{anotacion.contenido}}</td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="d-flex justify-content-between p-2">
                          <ngb-pagination [collectionSize]="collectionSizeAnotacion" [(page)]="pageAnotacion"
                            [pageSize]="pageSizeAnotacion">
                          </ngb-pagination>

                          <select class="custom-select" style="width: auto" [(ngModel)]="pageSizeAnotacion">
                            <option [ngValue]="4">4 anotaciones por página</option>
                            <option [ngValue]="8">8 anotaciones por página</option>
                            <option [ngValue]="10">10 anotaciones por página</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center">
    <button type="button" class="btn btn-outline-danger" (click)="cancelar()"> Volver </button>
  </div>
</main>
<app-footer></app-footer>
