<app-header></app-header>
<main>
  <section class="section ">
    <div class="container">
      <h2 class="display-3">Colegios Existentes</h2>
      <div class="row row-grid align-items-center">
        <div class="col-xl-12">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="colegio-tab" data-toggle="tab" href="#colegio_existente" role="tab"
                aria-controls="colegio" aria-selected="false">Colegios</a>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <!--COLEGIOS EXISTENTE TAB-->
            <div class="tab-pane fade show active" id="colegio_existente" role="tabpanel" aria-labelledby="colegio-tab">
              <div class="mb-8 ">
                <br>
                <div class="row">
                  <div class="col-md-3 col-sm-12">
                    <button type="button" class="btn btn-secondary" (click)="generarNuevoColegio()">Nuevo
                      Colegio</button>

                  </div>
                  <div class="col-md-3 col-sm-12"></div>
                  <div class="text-right col-md-6 col-sm-12">
                    <button type="button" class="btn btn-primary" (click)="generarNuevoColegio()">Importar excel</button>
                    <button type="button" class="btn btn-success" (click)="generarNuevoColegio()">Plantilla colegios <i
                        class="fas fa-file-excel"></i></button>
                    <br>
                  </div>
                </div>

                <br>
                <div class="table-responsive-lg">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Calle</th>
                        <th scope="col">Número</th>
                        <th scope="col">Comuna</th>
                        <th scope="col">Acción</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="load">
                        <td colspan="10" class="shine text-center">
                          <h3 class="text-muted"><i class="fa fa-spinner fa-spin"></i> Cargando </h3>
                        </td>
                      </tr>
                      <tr *ngIf="!load && colegios_tabla.length == 0">
                        <td colspan="10" class="text-center">
                          No se registran colegios
                        </td>
                      </tr>
                      <tr *ngFor="let colegio of colegios_tabla">
                        <td>{{ colegio.nombre }}</td>
                        <td>{{ colegio.direccion.calle }}</td>
                        <td>{{ colegio.direccion.numero }}</td>
                        <td>{{ colegio.direccion.comuna }}</td>
                        <td>
                          <button type="button" class="btn btn-danger btn-sm" (click)="deleteColegio(colegio.id)"><i
                              class="fas fa-trash-alt"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="collectionSizeColegio" [(page)]="pageColegio"
                      [pageSize]="pageSizeColegio">
                    </ngb-pagination>

                    <select class="custom-select" style="width: auto" [(ngModel)]="pageSizeColegio">
                      <option [ngValue]="10">10 colegios por página</option>
                      <option [ngValue]="20">20 colegios por página</option>
                      <option [ngValue]="30">30 colegios por página</option>
                    </select>
                  </div>
                  <div class="text-center">
                    <button type="button" class="btn btn-outline-info" (click)="generarNuevoColegio()"> Nuevo Colegio
                    </button>
                    <br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
