<section class="bg-info text-white pt-9 pb-8" style="background-image: url(assets/img/background/avator-bg.png);">
  <div class="container">
    <div class="section-title justify-content-center mb-4 mb-md-8">
      <span class="shape shape-left bg-danger"></span>
      <h2 class="text-white">Nuestros Servicios</h2>
      <span class="shape shape-right bg-danger"></span>
    </div>

    <div class="row">
      <div class="col-sm-4 offset-sm-2 col-xs-12">
        <div class="media flex-sm-column flex-lg-row text-sm-right mb-7">
          <a class="media-icon-large shadow-none ml-auto mr-4 mr-md-0 p-0 order-lg-1" href="services-details.html">
            <i class="fa fa-book extra-large" aria-hidden="true"></i>
          </a>

          <div class="media-body mt-sm-3 mt-lg-0 mr-lg-3">
            <h3 class="text-truncate">Servicio 1</h3>
            <p class="text-white font-weight-light opacity-70 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>

				<div class="media flex-sm-column flex-lg-row text-sm-right mb-7">
          <a class="media-icon-large shadow-none mr-4 mr-md-0 p-0 ml-auto order-lg-1" href="services-details.html">
            <i class="fa fa-heart extra-large" aria-hidden="true"></i>
          </a>
          <div class="media-body mt-sm-3 mt-lg-0 mr-lg-3">
            <h3 class="text-truncate">Servicio 3</h3>
            <p class="text-white font-weight-light opacity-70 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-xs-12">
        <div class="media flex-sm-column flex-lg-row mb-7">
          <a class="media-icon-large shadow-none mr-4 p-0 mr-lg-3 mr-md-0" href="services-details.html">
            <i class="fa fa-user extra-large" aria-hidden="true"></i>
          </a>
          <div class="media-body mt-sm-3 mt-lg-0">
            <h3 class="text-truncate">Servicio 2</h3>
            <p class="text-white font-weight-light opacity-70 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>

        <div class="media flex-sm-column flex-lg-row mb-7">
          <a class="media-icon-large shadow-none mr-4 p-0 mr-lg-3 mr-md-0" href="services-details.html">
            <i class="fa fa-graduation-cap extra-large" aria-hidden="true"></i>
          </a>
          <div class="media-body mt-sm-3 mt-lg-0">
            <h3 class="text-truncate">Servicio 4</h3>
            <p class="text-white font-weight-light opacity-70 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>