<app-header-alumno></app-header-alumno>
<main>
  <section class="section ">
    <div class="container">
      <h2 class="display-3">Mis asignaturas</h2>
      <div class="row row-grid align-items-center">
        <div class="col-xl-12">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="asignaturas-tab" data-toggle="tab" href="#asignaturas_existente" role="tab"
                aria-controls="asignaturas" aria-selected="false">Asignaturas</a>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="cursos_existente" role="tabpanel" aria-labelledby="cursos-tab">
              <div class="mb-8 ">
                <br>
                <div class="table-responsive-lg">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Acción</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="load">
                        <td colspan="10" class="shine text-center">
                          <h3 class="text-muted"><i class="fa fa-spinner fa-spin"></i> Cargando </h3>
                        </td>
                      </tr>
                      <tr *ngIf="!load && asignaturas_tabla.length == 0">
                        <td colspan="10" class="text-center">
                          No se registran asignaturas
                        </td>
                      </tr>
                      <tr *ngFor="let asignatura of asignaturas_tabla">
                        <td>{{ asignatura.nombre }}</td>
                        <td>
                          <div class="row">
                            <button type="button" class="btn btn-info btn-sm"
                              (click)="generarVistaDetalleAsignatura(asignatura.id)"><i class="far fa-eye"></i></button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="collectionSizeAsignatura" [(page)]="pageAsignatura"
                      [pageSize]="pageSizeAsignatura">
                    </ngb-pagination>

                    <select class="custom-select" style="width: auto" [(ngModel)]="pageSizeAsignatura">
                      <option [ngValue]="2">2 asignaturas por página</option>
                      <option [ngValue]="4">4 asignaturas por página</option>
                      <option [ngValue]="6">6 asignaturas por página</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer-alumno></app-footer-alumno>