<div class="my-container">
  <ngx-loading [show]="false" [config]="{ fullScreenBackdrop: true,
                    backdropBackgroundColour: 'rgba(0, 0, 0, 1)', backdropBorderRadius: '10px',
                    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff' }">
  </ngx-loading>
</div>
<app-header-profesor></app-header-profesor>
<main>
  <section class="section ">
    <div class="container">
      <mat-card-content class="mat-card-content"> 
        <mat-card-title>{{prueba.nombre}}</mat-card-title>
        <br>
        <mat-card-subtitle>Complete la hoja de resultados de la evaluacioón. En caso de ser Taller/Ensayo complete con la alternativa seleccionada o indique si la respuesta es correcta/incorrecta si es del tipo Tarea.</mat-card-subtitle>
      </mat-card-content>
      <br>
      <div><br></div>
      <ag-grid-angular #agGrid style="width: auto; height: 300px;" class="ag-theme-balham" [rowData]="rowData"
      [columnDefs]="columnDefs">
      </ag-grid-angular>
      <br>
      <div class="text-center">
        <button type="button" class="btn btn-danger" (click)="volver()"> Volver </button>
        <button class="btn btn-primary" (click)="guardar()">guardar</button>

      </div>
    </div>
  </section>
</main>
<app-footer-profesor></app-footer-profesor>
