<app-header></app-header>
<main>
  <section class="section ">
    <div class="container">
      <h2 class="display-3">Cursos Preuniversitario</h2>
      <div class="row row-grid align-items-center">
        <div class="col-xl-12">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="cursos-tab" data-toggle="tab" href="#cursos_existente" role="tab"
                aria-controls="colegio" aria-selected="false">Cursos</a>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <!--COLEGIOS EXISTENTE TAB-->
            <div class="tab-pane fade show active" id="cursos_existente" role="tabpanel" aria-labelledby="cursos-tab">
              <div class="mb-8 ">
                <br>
                <div class="table-responsive-lg">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Estudiantes</th>
                        <th scope="col">Acción</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let curso of cursos_tabla">
                        <td>{{ curso.nombre }}</td>
                        <td>{{ curso.cantidad_estudiantes }}</td>
                        <td>
                          <div class="row">
                            <button type="button" class="btn btn-info btn-sm"
                              (click)="detalleCurso(curso.id)"><i class="far fa-eye"></i></button>
                            <button type="button" class="btn btn-danger btn-sm" (click)="deleteCurso(curso.id)"><i
                                class="fas fa-trash-alt"></i></button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="collectionSizeCurso" [(page)]="pageCurso"
                      [pageSize]="pageSizeCurso">
                    </ngb-pagination>

                    <select class="custom-select" style="width: auto" [(ngModel)]="pageSizeCurso">
                      <option [ngValue]="2">2 colegios por página</option>
                      <option [ngValue]="4">4 colegios por página</option>
                      <option [ngValue]="6">6 colegios por página</option>
                    </select>
                  </div>
                  <div class="text-center">
                    <button type="button" class="btn btn-outline-info" (click)="generarNuevoCurso()"> Nuevo Curso
                    </button>
                    <br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
