<div class="container">
	<div class="mb-9">
	  <div class="row">
	    <div class="col-sm-4 col-xs-12">
	      <div class="media flex-md-column flex-lg-row mb-4">
	        <div class="icon-rounded-circle-large shadow-sm mb-md-2 mr-md-0 mr-2 mr-lg-2 bg-warning">
	          <i class="fa fa-map-marker text-white" aria-hidden="true"></i>
	        </div>
	        <div class="media-body">
	          <h3 class="media-heading text-warning mt-0 font-weight-bold mb-3">Dirección:</h3>
	          <p class="text-muted font-weight-medium">{{seccion.contenido.direccion}}</p>
	        </div>
	      </div>
	    </div>

	    <div class="col-sm-4 col-xs-12">
	      <div class="media flex-md-column flex-lg-row mb-6">
	        <div class="icon-rounded-circle-large shadow-sm mr-2 mb-md-2 mr-md-0 mr-lg-2 bg-success">
	          <i class="fa fa-phone text-white" aria-hidden="true"></i>
	        </div>
	        <div class="media-body">
	          <h3 class="media-heading text-success mt-0 font-weight-bold mb-3">Teléfono:</h3>
	          <a class="text-muted font-weight-medium" href="tel:954 124 2542 Or 546 235 4478">
	            {{seccion.contenido.telefono}}
	          </a>
	        </div>
	      </div>
	    </div>

	    <div class="col-sm-4 col-xs-12">
	      <div class="media flex-md-column flex-lg-row mb-3 mb-md-0">
	        <div class="icon-rounded-circle-large shadow-sm mr-2 mb-md-2 mr-md-0 mr-lg-2 bg-danger">
	          <i class="fa fa-envelope-o text-white" aria-hidden="true"></i>
	        </div>
	        <div class="media-body">
	          <h3 class="media-heading text-danger">Email:</h3>
	          <p class="font-weight-medium">
	            <a class="text-muted" href="mailto:hello@example.com">{{seccion.contenido.email}}</a>
	          </p>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>



	<div class="" action="index.html" method="post">
		<form>
		<div class="row">
		  <div class="col-sm-6 col-xs-12">
		    <div class="form-group form-group-icon">
		      <i class="fa fa-user"></i>
		      <input class="form-control border-warning" placeholder="First name" required="" type="text">
		    </div>
		  </div>

		  <div class="col-sm-6 col-xs-12">
		    <div class="form-group form-group-icon">
		      <i class="fa fa-envelope"></i>
		      <input class="form-control border-success" placeholder="Email address" required="" type="email">
		    </div>
		  </div>

		  <div class="col-sm-6 col-xs-12">
		    <div class="form-group form-group-icon">
		      <i class="fa fa-phone"></i>
		      <input class="form-control border-purple" placeholder="Phone" required="" type="text">
		    </div>
		  </div>

		  <div class="col-sm-6 col-xs-12">
		    <div class="form-group form-group-icon">
		      <i class="fa fa-book"></i>
		      <input class="form-control border-pink" placeholder="Subject" required="" type="text">
		    </div>
		  </div>

		  <div class="col-12">
		    <div class="form-group form-group-icon">
		      <i class="fa fa-comments"></i>
		      <textarea class="form-control border-info" placeholder="Write message" rows="6"></textarea>
		    </div>
		  </div>

		  <div class="col-12">
		    <div class="text-sm-center mt-6">
		      <button type="submit" class="btn btn-danger text-uppercase">
		        Send Message
		      </button>
		    </div>
		  </div>
		</div>
		</form>
	</div>
</div>

