<!-- ====================================
——— PRELOADER
===================================== -->
<div id="preloader" class="smooth-loader-wrapper">
  <div class="smooth-loader">
    <div class="loader">
      <span class="dot dot-1"></span>
      <span class="dot dot-2"></span>
      <span class="dot dot-3"></span>
      <span class="dot dot-4"></span>
    </div>
  </div>
</div>

<!-- ====================================
——— HEADER
===================================== -->
<header class="header" id="pageTop">
  <!-- Top Bar-->
  <div class=" bg-stone d-none d-md-block top-bar">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 d-none d-lg-block">
          <ul class="list-inline d-flex justify-content-xl-start align-items-center h-100 mb-0">
            <li>
              <span class="bg-warning icon-header mr-xl-2">
                <i class="fa fa-user" aria-hidden="true"></i>
              </span>
              <a class="mr-lg-4 mr-xl-6 text-white opacity-80">Nombre Administrador</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-5">
          <ul class="list-inline d-flex mb-0 justify-content-xl-end justify-content-md-center align-items-center mr-xl-2">
            <li class="text-white mr-3 mr-lg-2 mr-xl-5">
              <span class="bg-purple icon-header mr-2 mr-lg-1 mr-xl-2">
                <i class="fa fa-unlock-alt text-white font-size-13" aria-hidden="true"></i>
              </span>
              <span class="text-white opacity-80">Cerrar sesión</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Navbar -->
    <!-- Navbar -->
  <nav class="navbar navbar-expand-md navbar-scrollUp navbar-sticky navbar-white">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img class="d-inline-block" src="assets/img/preu.jpg" alt="Kidz School">
      </a>

      <button class="navbar-toggler py-2" type="button" data-toggle="collapse" (click)="mostrarNavbar()" 
        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ml-lg-auto">
          <li class="nav-item dropdown bg-warning">
              <a class="nav-link dropdown-toggle  active" (click)="cambiarRuta(1)" href="#"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-home nav-icon" aria-hidden="true"></i>
                <span>Home</span>
              </a>
          </li>
          <li class="nav-item dropdown bg-danger">
              <a class="nav-link dropdown-toggle  active" (click)="cambiarRuta(2)" href="#"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-users nav-icon" aria-hidden="true"></i>
                <span>Perfiles</span>
              </a>
          </li>
          <li class="nav-item dropdown bg-success">
              <a class="nav-link dropdown-toggle  active" (click)="cambiarRuta(3)" href="#"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-book nav-icon" aria-hidden="true"></i>
                <span>Cursos</span>
              </a>
          </li>
          <li class="nav-item dropdown bg-info">
              <a class="nav-link dropdown-toggle  active" (click)="cambiarRuta(4)" href="#"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-pencil-square-o nav-icon" aria-hidden="true"></i>
                <span>Puntajes</span>
              </a>
          </li>
          <li class="nav-item dropdown bg-purple">
              <a class="nav-link dropdown-toggle  active" (click)="cambiarRuta(5)" href="#"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-list nav-icon" aria-hidden="true"></i>
                <span>Asistencia</span>
              </a>
          </li>
          <li class="nav-item dropdown bg-pink">
              <a class="nav-link dropdown-toggle  active" (click)="cambiarRuta(6)" href="#"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-exclamation nav-icon" aria-hidden="true"></i>
                <span>Alertas</span>
              </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="main-wrapper home">
<section class="py-8 py-md-10">
    <div style="text-align:center;">
      <h1 class="element-title">Administrador: Bastian Piña</h1>
      <br>
    </div>
    <div class="container">
      <div class="mb-9">
        <div class="row">
          <div class="col-sm-4 col-xs-12">
            <div class="media flex-md-column flex-lg-row mb-3 mb-md-0">
              <div class="icon-rounded-circle-large shadow-sm mb-md-2 mr-md-0 mr-2 mr-lg-2 bg-warning">
                <i class="fa fa-user-graduate text-white" aria-hidden="true"></i>
              </div>
              <div class="media-body">
                <h3 class="media-heading text-warning mt-0 font-weight-bold mb-3">Estudiantes:</h3>
                <p class="text-muted font-weight-medium">Estudiantes Inscritos: 500</p>
              </div>
            </div>
          </div>
  
          <div class="col-sm-4 col-xs-12">
            <div class="media flex-md-column flex-lg-row mb-3 mb-md-0">
              <div class="icon-rounded-circle-large shadow-sm mr-2 mb-md-2 mr-md-0 mr-lg-2 bg-success">
                <i class="fa fa-chalkboard-teacher text-white" aria-hidden="true"></i>
              </div>
              <div class="media-body">
                <h3 class="media-heading text-success mt-0 font-weight-bold mb-3">Profesores:</h3>
                <p class="text-muted font-weight-medium">Profesores Inscritos: 5</p>
              </div>
            </div>
          </div>
  
          <div class="col-sm-4 col-xs-12">
            <div class="media flex-md-column flex-lg-row mb-3 mb-md-0">
              <div class="icon-rounded-circle-large shadow-sm mr-2 mb-md-2 mr-md-0 mr-lg-2 bg-danger">
                <i class="fa fa-exclamation-triangle text-white" aria-hidden="true"></i>
              </div>
              <div class="media-body">
                <h3 class="media-heading text-danger">Alertas:</h3>
                <p class="font-weight-medium">Pendientes en el sistema: 15</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <!--SECCION HOME-->
      <div *ngIf="ventanaActiva=='1'">
        <app-home></app-home>
      </div>
      <!--SECCION NUEVO REGISTRO-->
      <div *ngIf="ventanaActiva=='2'">
        <app-perfiles></app-perfiles>
      </div>
      <!--SECCION NUEVOS CURSOS DISPONIBLES-->
      <div *ngIf="ventanaActiva=='3'">
        <app-curso></app-curso>
      </div>
      <!--SECCION NUEVOS CURSOS DISPONIBLES-->

      <hr>
    </div>
  </section>
